<!DOCTYPE html>
<html lang="uk" class="<%= theme %>">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title || 'My App' %>
    </title>

    <!-- favicon -->
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />

    <!-- тут можна підключати CSS, шрифти тощо -->
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="icon" href="/public/favicon.ico">.
</head>

<body>
    <!-- Основний контент сторінки -->
    <%- body %>
</body>

</html>