extends layouts/layout

block content
  h1 Головна сторінка

  if posts && posts.length
    each post in posts
      article
        h2: a(href=`/posts/${post._id}`)= post.title
        p= post.excerpt
  else
    p Немає жодного посту.
  